@font-face {
  font-family: 'act_of_rejectionregular';
  src: url('act_of_rejection-webfont.woff2') format('woff2'),
       url('act_of_rejection-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: act_of_rejectionregular;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: act_of_rejectionregular;
  color: white;
  font-size: 50px;
  margin: 10px;
}

h2 {
  color: white;
  font-size: 30px;
}

h3 {
  color: white;
  font-size: 24px;
}

p {
  color: white;
  font-size: 18px;
  margin: 10px;
}

/* Buttons */

button {
  font-family: act_of_rejectionregular;
  display:inline-block;
  padding:10px 50px;
  border:3px solid #FFFFFF;
  border-radius:10px;
  box-sizing: border-box;
  text-decoration:none;
  background-color: black;
  color: white;
  text-align:center;
  transition: all 0.2s;
  font-size: 20px;
}
button:hover {
  color: black;
  background-color: white;
}

button:hover h2 {
  color: black
}

/* Components */

.Picture {
  display: inline-block;
  border:3px solid #FFFFFF;
  padding: 0px;
}

.Name {
  width: 33%;
  text-align: center;
}

.Button {
  width: 33%;
  text-align: center;
}

.Win {
  width: 33%;
  text-align: center;
}

.PictureBox {
  height: 350px;
  width: 33%;
  text-align: center;
}

.Vs {
text-align: center;
  width: 33%;
}

.Vs img {
  margin-top: 150px;
  height: 50px;
}

.title {
  width: 33%;
  text-align: center;
}

.Header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px white;
}

.GameBox {
  padding: 20px 27% 20px 27%;
  margin-top: 50px;
  text-align: justify;
}


/* Flex boxes */

.Space {
  width: 33%;
}

.Display {
  display: flex;
  flex-direction: column
}

.Arena {
  display: flex;
  flex-direction: column
}

.Fighters {
  display: flex;
  flex-direction: row
}

.Section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row
}

.Buttons {
  margin: 20px;
  display: flex;
  flex-direction: row
}
